<div class="breadcrumbs">
  <div class="container">
    <a href="/" class="breadcrumbs__link">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.9709 20L11.312 18.6589L3.58606 10.9329L19.8368 10.9329L19.8368 9.06706L3.58606 9.06706L11.312 1.34111L9.9709 8.62503e-07L0.641456 9.32945L5.63462e-05 10L0.641456 10.6706L9.9709 20Z"
          fill="#0043A8"
        />
      </svg>
      <span class="breadcrumbs__link-text">Вернуться</span>
    </a>
    <h2 class="title-2">Купить сертификат</h2>
  </div>
</div>
