.contacts {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 50px;
  }

  &__wrap {
    display: flex;
    gap: 60px;
    justify-content: space-between;
  }

  &__content {
  }

  &__map {
    flex: 1 1 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 0 8px 0 rgba(203, 210, 216, 0.8);
    & iframe {
      border: none;
    }
  }
}

.contacts-content {
  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & a.contacts-content__link:hover {
      text-decoration: underline;
    }
  }

  &__links {
    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__item-label {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #6f6f6f;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 145%;
    text-transform: uppercase;
    color: #2b478e;
  }

  &__item-social {
  }

  &__item-map {
  }
}
.menu-contacts {
  &__item-social {
  }

  &__item-social-link {
  }

  &__item-map {
  }

  &__item-map-link {
  }
}

@media all and (max-width: 1100px) {
  .contacts {
    margin-bottom: 60px;
    &__title {
      margin-bottom: 32px;
    }

    &__wrap {
      display: flex;
      gap: 32px;
      flex-direction: column-reverse;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    &__map {
      height: 480px;
    }
  }

  .contacts-content {
    &__links {
      &:first-child {
        margin-bottom: 0;
      }
    }

    &__item-label {
      font-size: 16px;
    }

    &__link {
      font-size: 18px;
    }

    &__item-social {
      gap: 24px;
    }

    &__item-map {
      gap: 24px;
    }
  }

  .menu-contacts {
    &__item-social {
    }

    &__item-social-link {
      padding: 10px;
      border-radius: 10px;
      & svg {
        width: 28px;
        height: 28px;
      }
    }

    &__item-map {
    }

    &__item-map-link {
      padding: 10px;
      border-radius: 10px;
      &:first-child {
        & img {
          width: 153px;
          height: auto;
        }
      }
      &:last-child {
        & img {
          width: 90px;
          height: auto;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .contacts {
    margin-bottom: 40px;
    &__title {
      margin-bottom: 24px;
    }

    &__wrap {
      display: flex;
      gap: 24px;
      flex-direction: column-reverse;
    }

    &__content {
      flex-direction: column;
      gap: 0;
    }

    &__map {
      height: 200px;
    }
  }

  .contacts-content {
    &__item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &__links {
      &:first-child {
        margin-bottom: 0;
      }
    }

    &__item-label {
      font-size: 14px;
    }

    &__link {
      font-size: 16px;
    }

    &__item-social {
      gap: 24px;
    }

    &__item-map {
      gap: 24px;
    }
  }

  .menu-contacts {
    &__item-social {
    }

    &__item-social-link {
      padding: 8px;
      border-radius: 8px;
      & svg {
        width: 24px;
        height: 24px;
      }
    }

    &__item-map {
    }

    &__item-map-link {
      padding: 8px;
      border-radius: 8px;
      &:first-child {
        & img {
          width: 123px;
          height: auto;
        }
      }
      &:last-child {
        & img {
          width: 70px;
          height: auto;
        }
      }
    }
  }
}
