.tariffs {
  & .tabs-entry {
    padding: 32px 0 0 0;
  }
}
.discount-slider {
  overflow: hidden;
  padding: 80px 20px 40px 20px;
  &__inner {
    width: 100%;
    position: relative;
    padding: 0 0px;
  }

  &__controls {
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    & svg path {
      fill: #202020;
      transition: 0.2s ease-in;
    }
    &:disabled {
      & svg path {
        fill: #9d9d9d;
        transition: 0.2s ease-in;
      }
    }
    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
  }

  &__slide {
    flex: 1 0 420px;
    min-width: unset;
    &:nth-child(1) {
      & .discount-slide__img {
        top: -50px;
        left: -50px;
      }
      & .discount-slide__wrap {
        background: url("../img/abonement/bg1.png") no-repeat top center / cover;
      }
    }
    &:nth-child(2) {
      & .discount-slide__img {
        top: -40px;
        left: -40px;
      }
      & .discount-slide__wrap {
        background: url("../img/abonement/bg2.png") no-repeat top center / cover;
      }
    }
    &:nth-child(3) {
      & .discount-slide__img {
        top: -60px;
        left: -20px;
      }
      & .discount-slide__wrap {
        background: url("../img/abonement/bg3.png") no-repeat top center / cover;
      }
    }
    &:nth-child(4) {
      & .discount-slide__img {
        top: -80px;
        left: -0px;
      }
      & .discount-slide__wrap {
        background: url("../img/abonement/bg4.png") no-repeat top center / cover;
      }
    }
  }
}
.discount-slide {
  height: 100%;
  border-radius: 40px;
  box-shadow: 4px 4px 16px 0 rgba(203, 210, 216, 0.4);
  background: #fff;
  &__wrap {
    height: 100%;
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
  }

  &__img {
    position: absolute;
    top: -50px;
    left: -40px;
  }

  &__title {
    padding: 0 30px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }

  &__subtitle {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #2d2d2d;
  }

  &__text {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-grey-text);
    &--bold {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 20px;
      line-height: 175%;
      letter-spacing: 0.02em;
      color: var(--dark-blue-text);
    }
  }

  &__footer {
    margin-top: 56px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    text-align: center;
    color: #474747;
  }

  &__price {
    margin-top: 56px;
  }

  &__price-title {
    display: block;
    margin-bottom: 16px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-blue-text);
  }

  &__price-wrap {
    display: flex;
    align-items: center;
  }

  &__price-item {
    flex: 1 1 30%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      border-right: 2px solid #368ddd;
    }
  }

  &__price-value {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: var(--dark-blue-text);
  }

  &__price-time {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 145%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-blue-text);
  }
}

@media all and (max-width: 1000px) {
  .discount-slider {
    overflow: hidden;
    padding: 80px 30px 40px 30px;
    &__inner {
      width: 100%;
      position: relative;
      padding: 0 60px;
    }

    &__controls {
    }

    &__btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      & svg path {
        fill: #202020;
        transition: 0.2s ease-in;
      }
      &:disabled {
        & svg path {
          fill: #9d9d9d;
          transition: 0.2s ease-in;
        }
      }
      &--prev {
        left: -10px;
      }

      &--next {
        right: -10px;
      }
    }

    &__wrap {
      display: flex;
      flex-wrap: nowrap;
      row-gap: 0;
    }

    &__slide {
      flex: 1 0 430px;
      min-width: unset;
      &:nth-child(1) .discount-slide__wrap {
        background: url("../img/abonement/bg1.png") no-repeat top center / cover;
      }
      &:nth-child(2) {
        & .discount-slide__img {
          top: -40px;
          left: -40px;
        }
        & .discount-slide__wrap {
          background: url("../img/abonement/bg2.png") no-repeat top center /
            cover;
        }
      }
      &:nth-child(3) {
        & .discount-slide__img {
          top: -60px;
          left: -20px;
        }
        & .discount-slide__wrap {
          background: url("../img/abonement/bg3.png") no-repeat top center /
            cover;
        }
      }
      &:nth-child(4) {
        & .discount-slide__img {
          top: -80px;
          left: -0px;
        }
        & .discount-slide__wrap {
          background: url("../img/abonement/bg4.png") no-repeat top center /
            cover;
        }
      }
    }
  }
}

@media all and (max-width: 750px) {
  .discount-slider {
    overflow: hidden;
    padding: 80px 20px 40px 20px;
    &__inner {
      width: 100%;
      position: relative;
      padding: 0 40px;
    }

    &__controls {
    }

    &__btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      & svg {
        width: 32px;
        height: 32px;
      }
      &--prev {
        left: 0px;
      }

      &--next {
        right: 0px;
      }
    }

    &__wrap {
      display: flex;
      flex-wrap: nowrap;
      row-gap: 0;
    }

    &__slide {
      flex: 1 0 360px;
      min-width: unset;
      &:nth-child(1) {
        & .discount-slide__img {
          top: -50px;
          left: -30px;
          width: 140px;
          height: auto;
        }
        & .discount-slide__wrap {
          background: url("../img/abonement/bg1.png") no-repeat top center /
            cover;
        }
      }
      &:nth-child(2) {
        & .discount-slide__img {
          top: -20px;
          left: -20px;
          width: 100px;
          height: auto;
        }
        & .discount-slide__wrap {
          background: url("../img/abonement/bg2.png") no-repeat top center /
            cover;
        }
      }
      &:nth-child(3) {
        & .discount-slide__img {
          top: -40px;
          left: -20px;
          width: 100px;
          height: auto;
        }
        & .discount-slide__wrap {
          background: url("../img/abonement/bg3.png") no-repeat top center /
            cover;
        }
      }
      &:nth-child(4) {
        & .discount-slide__img {
          top: -80px;
          left: -10px;
          width: 100px;
          height: auto;
        }
        & .discount-slide__wrap {
          background: url("../img/abonement/bg4.png") no-repeat top center /
            cover;
        }
      }
    }
  }

  .discount-slide {
    height: 100%;
    border-radius: 40px;
    box-shadow: 4px 4px 16px 0 rgba(203, 210, 216, 0.4);
    background: #fff;
    &__wrap {
      height: 100%;
      padding: 40px 20px;
    }

    &__title {
      padding: 0 30px;
      font-size: 24px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 100%;
    }

    &__text {
      margin-top: 8px;
      font-size: 16px;
      &--bold {
        font-size: 16px;
        line-height: 120%;
      }
    }

    &__footer {
      margin-top: 16px;
      font-size: 16px;
      line-height: 125%;
    }

    &__price {
      margin-top: 16px;
    }

    &__price-title {
      display: block;
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 146%;
    }

    &__price-wrap {
      display: flex;
      align-items: center;
    }

    &__price-value {
      font-size: 22px;
    }

    &__price-time {
      font-size: 22px;
    }
  }
}

@media all and (max-width: 600px) {
  .discount-slider {
    &__slide {
      flex: 1 0 100%;
    }
  }
}

@media all and (max-width: 500px) {
  .discount-slider {
    overflow: hidden;
    padding: 80px 15px 40px 15px;
    &__inner {
      width: 100%;
      position: relative;
      padding: 0 30px;
    }

    &__controls {
    }

    &__slide {
      min-width: unset;
    }
  }

  .discount-slide {
    height: 100%;
    border-radius: 40px;
    box-shadow: 4px 4px 16px 0 rgba(203, 210, 216, 0.4);
    background: #fff;
    &__wrap {
      height: 100%;
      padding: 40px 20px;
    }

    &__title {
      padding: 0 30px;
      font-size: 24px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 100%;
    }

    &__text {
      margin-top: 8px;
      font-size: 16px;
      &--bold {
        font-size: 16px;
        line-height: 120%;
      }
    }

    &__footer {
      margin-top: 16px;
      font-size: 16px;
      line-height: 125%;
    }

    &__price {
      margin-top: 16px;
    }

    &__price-title {
      display: block;
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 146%;
    }

    &__price-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 12px;
    }

    &__price-item {
      padding: 0;
      &:not(:last-child) {
        border-right: none;
      }
    }

    &__price-value {
      font-size: 22px;
    }

    &__price-time {
      font-size: 22px;
    }
  }
}
