.abonement-form {
  .abonement-slide {
    flex: 1 1 30%;
    min-width: 320px;
    max-width: 400px;
    &.selected {
      border: 2px solid var(--blue-text);
    }

    &__btn-select {
      border: 2px solid var(--blue-text);
      border-radius: 87px;
      padding: 16px 20px;
      box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.3);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #32bbff 65.47%
      );
      transition: 0.2s ease-in;
      &:hover {
        box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #1897ff 0%,
          #1897ff 100%
        );
        transition: 0.2s ease-in;
      }
      &:focus {
        box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #007ce2 0%,
          #007ce2 100%
        );
        transition: 0.2s ease-in;
      }
      &:active {
        box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #007ce2 0%,
          #007ce2 100%
        );
        transition: 0.2s ease-in;
      }
      &:disabled {
        box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.6);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #1897ff 0%,
          #32bbff 65.47%
        );
        transition: 0.2s ease-in;
      }
    }

    &__btn-select-text {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
}

.certificate {
  & .certeficat-slide {
    flex: 1 1 30%;
    min-width: 320px;
    max-width: 420px;
    &.selected {
      border: 2px solid var(--blue-text);
    }
    &__btn-select {
      border: 2px solid var(--blue-text);
      border-radius: 87px;
      padding: 16px 20px;
      box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.3);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #32bbff 65.47%
      );
      transition: 0.2s ease-in;
      &:hover {
        box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #1897ff 0%,
          #1897ff 100%
        );
        transition: 0.2s ease-in;
      }
      &:focus {
        box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #007ce2 0%,
          #007ce2 100%
        );
        transition: 0.2s ease-in;
      }
      &:active {
        box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #007ce2 0%,
          #007ce2 100%
        );
        transition: 0.2s ease-in;
      }
      &:disabled {
        box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.6);
        background: radial-gradient(
          333.85% 133.49% at 1.07% 13.33%,
          #1897ff 0%,
          #32bbff 65.47%
        );
        transition: 0.2s ease-in;
      }
    }

    &__btn-select-text {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
  &__type {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 120px;
    column-gap: 40px;
  }
}
.tabs-entry {
  &__pills {
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    & .btn {
      padding: 12px 20px;
      background: #fff;
      border: 2px solid var(--blue-text);
      color: var(--blue-text);
      white-space: nowrap;
    }
    & .btn.active {
      background: linear-gradient(108deg, #4897e0 0%, #4fa0e8 98%);
      color: #fff;
    }

    & .btn:disabled {
      background: rgba(255, 255, 255, 0.5);
      border: 2px solid rgba(0, 67, 168, 0.5);
      color: var(--dark-blue-text);
    }
    & .btn:not(:disabled) {
      cursor: pointer;
    }
  }
}
.abonement {
  margin-top: 20px;
  flex-direction: column;

  &__designe {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-grey-text);
  }

  &__type {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 120px;
    column-gap: 40px;
  }
  &__data {
    margin-top: 20px;
    display: flex;
    gap: 40px;
  }
  &__confirm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  &__btn-pay {
    align-self: flex-end;
    margin-top: 40px;
    padding: 16px 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 87px;
    border: none;
    box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.4);
    background: radial-gradient(
      486.41% 219.97% at 14.73% 0%,
      #ff9d00 0%,
      #ffbf35 54.08%,
      #ffc870 100%
    );
    &:hover {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        486.41% 219.97% at 14.73% 0%,
        #ff9d00 0%,
        #ff9d00 100%
      );
      transition: 0.2s ease-in;
    }
    &:focus {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        486.41% 219.97% at 14.73% 0%,
        #f80 0%,
        #f80 100%
      );
      transition: 0.2s ease-in;
    }
    &:active {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        486.41% 219.97% at 14.73% 0%,
        #f80 0%,
        #f80 100%
      );
      transition: 0.2s ease-in;
    }
    &:disabled {
      box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.4);
      background: radial-gradient(
        486.41% 219.97% at 14.73% 0%,
        #ff9d00 0%,
        #ffbf35 54.08%,
        #ffc870 100%
      );
      transition: 0.2s ease-in;
    }
  }
}

.abonement-design {
  flex: 1 1 30%;
  max-width: 412px;
  min-width: 320px;
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 20px;
      &.selected {
        border: 2px solid var(--blue-text);
      }
    }
    & button {
      width: 240px;
    }
  }
  &__btn-select {
    border: 2px solid var(--blue-text);
    border-radius: 87px;
    padding: 16px 20px;
    box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.3);
    background: radial-gradient(
      333.85% 133.49% at 1.07% 13.33%,
      #1897ff 0%,
      #32bbff 65.47%
    );
    transition: 0.2s ease-in;
    &:hover {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #1897ff 100%
      );
      transition: 0.2s ease-in;
    }
    &:focus {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #007ce2 0%,
        #007ce2 100%
      );
      transition: 0.2s ease-in;
    }
    &:active {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #007ce2 0%,
        #007ce2 100%
      );
      transition: 0.2s ease-in;
    }
    &:disabled {
      box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.6);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #32bbff 65.47%
      );
      transition: 0.2s ease-in;
    }
  }

  &__btn-select-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
.certificate-design {
  &__btn-select {
    border: 2px solid var(--blue-text);
    border-radius: 87px;
    padding: 16px 20px;
    box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.3);
    background: radial-gradient(
      333.85% 133.49% at 1.07% 13.33%,
      #1897ff 0%,
      #32bbff 65.47%
    );
    transition: 0.2s ease-in;
    &:hover {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #1897ff 100%
      );
      transition: 0.2s ease-in;
    }
    &:focus {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #007ce2 0%,
        #007ce2 100%
      );
      transition: 0.2s ease-in;
    }
    &:active {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #007ce2 0%,
        #007ce2 100%
      );
      transition: 0.2s ease-in;
    }
    &:disabled {
      box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.6);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #32bbff 65.47%
      );
      transition: 0.2s ease-in;
    }
  }
}
.abonement-data {
  &__column {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 40px 24px;
    border-radius: 24px;
    box-shadow: 2px 3px 8px 0 rgba(221, 230, 227, 0.8);
    background: #fff;
    &:last-child {
      flex: 1 1 60%;
    }
    & .radio:nth-child(3) {
      align-items: start;
      flex: 1 1 auto;
    }

    & .label__input {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: var(--dark-blue-text);
  }

  &__text {
    max-width: 300px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--grey-link);
  }

  &__btn-send {
    margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    border-radius: 87px;
    padding: 16px 40px;
    box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.3);
    background: radial-gradient(
      333.85% 133.49% at 1.07% 13.33%,
      #1897ff 0%,
      #32bbff 65.47%
    );
    transition: 0.2s ease-in;
    &:hover {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #1897ff 100%
      );
      transition: 0.2s ease-in;
    }
    &:focus {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #007ce2 0%,
        #007ce2 100%
      );
      transition: 0.2s ease-in;
    }
    &:active {
      box-shadow: 2px 2px 24px 0 rgba(0, 17, 27, 0.7);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #007ce2 0%,
        #007ce2 100%
      );
      transition: 0.2s ease-in;
    }
    &:disabled {
      box-shadow: 2px 2px 8px 0 rgba(0, 17, 27, 0.6);
      background: radial-gradient(
        333.85% 133.49% at 1.07% 13.33%,
        #1897ff 0%,
        #32bbff 65.47%
      );
      transition: 0.2s ease-in;
    }
  }

  &__btn-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}

.abonement-confirm {
  padding: 24px 24px 40px 24px;
  border-radius: 24px;
  box-shadow: 2px 3px 8px 0 rgba(221, 230, 227, 0.8);
  background: #fff;
  &__title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--dark-blue-text);
  }

  &__column-data {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 80px;
  }

  &__column {
    flex: 1 1 40%;
    &:first-child {
      flex: 1 1 60%;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 10px;
    &:not(:first-child) {
      padding-top: 10px;
      margin-top: 20px;
      border-top: 1px solid var(--disable);
    }
    &--price:last-child {
      text-align: center;
      margin-top: 34px;
      border-top: none;
    }
  }

  &__value {
    flex: 1 1 auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-grey-text);
    &--bold {
      font-weight: 700;
    }
  }

  &__btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--grey-link);
    border-bottom: 2px solid var(--grey-link);
    transition: 0.2s ease-in;
    &:hover {
      color: var(--blue-text);
      border-bottom: 2px solid var(--blue-text);
      transition: 0.2s ease-in;
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__subvalue {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: var(--grey-link);
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 20px;
  }
}

@media all and (max-width: 1100px) {
  .abonement {
    &__btn-pay {
      margin-top: 50px;
      align-self: center;
    }
  }
  .abonement-confirm {
    &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 26px;
      line-height: 110%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--dark-blue-text);
    }
    &__column-data {
      flex-direction: column;
      gap: 42px;
    }

    &__column {
      &:last-child {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        & .abonement-confirm__row {
          &:first-child {
            flex: 1 1 100%;
          }
          &:last-child {
            align-self: end;
          }
        }
      }
    }
    &__img {
      width: 60%;
      object-fit: contain;
    }
  }
}
