.map {
  margin-top: -270px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 40px;
  }
  & .tabs__content {
    margin-top: 40px;
  }
}

@media all and (max-width: 600px) {
  .map {
    padding-bottom: 32px;
    &__title {
      margin-bottom: 32px;
    }
    & .tabs__content {
      margin-top: 32px;
    }
  }
}
