.schedule {
  margin-bottom: 60px;
  &__inner {
  }

  &__header {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: space-between;
  }

  &__header-tags {
    display: flex;
    align-items: center;
    gap: 16px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__header-title {
    margin-bottom: 40px;
    flex: 1 1 100%;
  }

  &__slider {
  }
}

.schedule-controls {
  display: flex;
  align-items: center;
  gap: 24px;
  &__btn {
    & svg path {
      fill: #202020;
      transition: 0.2s ease-in;
    }
    &:disabled svg path {
      fill: #9d9d9d;
      transition: 0.2s ease-in;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #3f3f40;
  }
}

.schedule-tags {
  &__btn {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 14px 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-grey-text);
    border-radius: 50px;
    background: #fff;
    transition: 0.2s ease-in;
    white-space: nowrap;
    &.active {
      color: #fff;
      background: #4897e0;
      transition: 0.2s ease-in;
      &:before {
        border: 0.5px solid #fff;
      }
    }
    &.active[data-tag="Парения"] {
      background: #0c3498;
      transition: 0.2s ease-in;
    }
    &.active[data-tag="Фитнес"] {
      background: #0c9873;
      transition: 0.2s ease-in;
    }
    &.active[data-tag="Мастер-классы"] {
      background: #ffc711;
      transition: 0.2s ease-in;
    }
    &.active[data-tag="Анимация"] {
      background: #e400ab;
      transition: 0.2s ease-in;
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      flex: 0 0 auto;
    }
    &[data-tag="Все"] {
      &::before {
        background-color: #4897e0;
      }
    }
    &[data-tag="Парения"] {
      &::before {
        background-color: #0c3498;
      }
    }
    &[data-tag="Фитнес"] {
      &::before {
        background-color: #0c9873;
      }
    }
    &[data-tag="Мастер-классы"] {
      &::before {
        background-color: #ffc711;
      }
    }
    &[data-tag="Анимация"] {
      &::before {
        background-color: #e400ab;
      }
    }
  }
}

.schedule-slider {
  overflow: hidden;
  &__wrap {
    display: flex;
  }

  &__slide {
    flex: 0 0 auto;
  }
}

.schedule-table {
  &__title {
    opacity: 0;
    visibility: hidden;
  }

  &__header {
    width: 100%;
    display: flex;
  }

  &__label {
    display: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 145%;
    text-align: center;
    color: var(--grey-link);
  }

  &__header-title {
    flex: 1 1 30%;
    padding: 12px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.8);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    color: #636363;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    &:first-child {
      flex: 0 0 137px;
      border-left: 1px solid #dadada;
    }
    &:last-child {
      flex: 0 0 252px;
    }
    &:nth-child(2) {
      flex: 1 1 60%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__row {
    width: 100%;
    display: flex;
    &[data-tag-row="Парения"]
      .schedule-table__value
      > .schedule-table__content {
      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #0c3498;
        flex: 0 0 auto;
      }
    }
    &[data-tag-row="Фитнес"] .schedule-table__value > .schedule-table__content {
      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #0c9873;
        flex: 0 0 auto;
      }
    }
    &[data-tag-row="Мастер-классы"]
      .schedule-table__value
      > .schedule-table__content {
      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #ffc711;
        flex: 0 0 auto;
      }
    }
    &[data-tag-row="Анимация"]
      .schedule-table__value
      > .schedule-table__content {
      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #e400ab;
        flex: 0 0 auto;
      }
    }
    & span {
      flex: 1 1 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 12px 36px;
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.4);
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;

      text-align: center;
      border-top: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
      border-right: 1px solid #dadada;
      &:first-child {
        flex: 0 0 137px;
        border-left: 1px solid #dadada;
      }
      &:last-child {
        flex: 0 0 252px;
      }
      &:nth-child(2) {
        flex: 1 1 60%;
      }
    }

    & span.schedule-table__label {
      display: none;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      line-height: 145%;
      text-align: center;
      color: var(--grey-link);
    }
  }

  &__time {
    color: var(--dark-grey-text);
  }

  &__value {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark-grey-text);
  }

  &__place {
    color: var(--dark-grey-text);
  }

  &__price {
    color: #008d61;
  }
}

@media all and (max-width: 1000px) {
  .schedule {
    margin-bottom: 60px;
    &__inner {
    }

    &__header {
      margin-bottom: 32px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 32px;
      justify-content: space-between;
    }

    &__header-tags {
      gap: 8px;
    }

    &__header-title {
      margin-bottom: 0;
      flex: 1 1 50%;
    }
  }

  .schedule-tags {
    &__btn {
      padding: 10px 24px;
      font-size: 18px;
    }
  }

  .schedule-table {
    & span {
      padding: 12px;
      flex: 1 1 30%;
      font-size: 18px;
    }
  }
}

@media all and (max-width: 850px) {
  .schedule-table {
    &__title {
      opacity: 0;
      visibility: hidden;
    }

    &__header {
      width: 100%;
      display: flex;
      display: none;
    }

    &__row {
      margin-bottom: 16px;
      padding: 16px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      border-radius: 16px;
      box-shadow: 2px 3px 8px 0 rgba(221, 230, 227, 0.8);
      background: rgba(255, 255, 255, 0.9);

      & span {
        flex: 1 1 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        padding: 0;
        font-size: 16px;
        background: none;
        backdrop-filter: none;
        text-align: center;
        border-top: none;
        border-bottom: none;
        border-right: none;
        &:first-child {
          order: 1;
          flex: 0 0 40%;
          border-left: none;
        }
        &:last-child {
          order: 2;
          flex: 0 0 40%;
        }
        &:nth-child(3) {
          order: 3;
          flex: 1 1 100%;
          display: flex;
        }
        &:nth-child(2) {
          order: 4;
          flex: 1 1 100%;
          display: flex;
        }
      }

      & span.schedule-table__label {
        order: 0;
        flex: 1 1 100%;
        display: block;
        text-align: start;
      }
    }

    &__value {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--dark-grey-text);
    }

    &__place {
      color: var(--dark-grey-text);
    }

    &__price {
      color: #008d61;
    }
  }
}
