/* stylelint-disable */

@mixin custom-checkbox {
  margin-top: 20px;
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    display: flex;
    align-items: center;

    padding-left: 45px;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--grey-link);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid var(--blue-text);
      width: 24px;
      height: 24px;
      border-radius: 4px;
      box-sizing: border-box;
    }

    &::after {
      content: "✓";
      position: absolute;
      left: 0;
      top: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #4fa0e8;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 4px;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: none;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
