<div class="blog">
  <div class="container">
    <div class="tabs" data-tabs="blog" id="object">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">
            Акватория
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">
            Банный комплекс
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">УСЛУГИ</button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="blog__inner">
            <div class="blog__controls">
              <button
                type="button"
                class="btn-reset blog-slider__btn blog-slider__btn--prev"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.9835 6.22741L12.0894 5.33333L5.86978 11.553L5.44218 12L5.86978 12.447L12.0894 18.6667L12.9835 17.7726L7.83285 12.622H18.6667V11.378H7.83285L12.9835 6.22741Z"
                    fill="#202020"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM22.6667 12C22.6667 17.891 17.891 22.6667 12 22.6667C6.10896 22.6667 1.33333 17.891 1.33333 12C1.33333 6.10896 6.10896 1.33333 12 1.33333C17.891 1.33333 22.6667 6.10896 22.6667 12Z"
                    fill="#202020"
                  />
                </svg>
              </button>
              <button
                type="button"
                class="btn-reset blog-slider__btn blog-slider__btn--next"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.0165 6.22741L11.9106 5.33333L18.1302 11.553L18.5578 12L18.1302 12.447L11.9106 18.6667L11.0165 17.7726L16.1672 12.622H5.33333V11.378H16.1672L11.0165 6.22741Z"
                    fill="#202020"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M-7.15256e-07 12C-7.15256e-07 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 -7.15256e-07 5.37258 -7.15256e-07 12ZM1.33333 12C1.33333 17.891 6.10896 22.6667 12 22.6667C17.891 22.6667 22.6667 17.891 22.6667 12C22.6667 6.10896 17.891 1.33333 12 1.33333C6.10896 1.33333 1.33333 6.10896 1.33333 12Z"
                    fill="#202020"
                  />
                </svg>
              </button>
            </div>
            <div class="blog__slider blog-slider">
              <div class="blog-slider__wrap">
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      Бассейн «Мертвое море»</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span class="blog-slide__title blog-slide__title--large"
                          >«Мертвое море»</span
                        ></span
                      >
                      <button
                        type="button"
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog3-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      Детский бассейн</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span
                          class="blog-slide__title blog-slide__title--large"
                        >
                          Детский бассейн</span
                        ></span
                      >
                      <button
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog2-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      под открытым небом</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span
                          class="blog-slide__title blog-slide__title--large"
                        >
                          под открытым небом</span
                        ></span
                      >
                      <button
                        class="btn-reset blog-slide__link"
                        type="button"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="blog__inner">
            <div class="blog__controls">
              <button
                type="button"
                class="btn-reset blog-slider__btn blog-slider__btn--prev"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.9835 6.22741L12.0894 5.33333L5.86978 11.553L5.44218 12L5.86978 12.447L12.0894 18.6667L12.9835 17.7726L7.83285 12.622H18.6667V11.378H7.83285L12.9835 6.22741Z"
                    fill="#202020"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM22.6667 12C22.6667 17.891 17.891 22.6667 12 22.6667C6.10896 22.6667 1.33333 17.891 1.33333 12C1.33333 6.10896 6.10896 1.33333 12 1.33333C17.891 1.33333 22.6667 6.10896 22.6667 12Z"
                    fill="#202020"
                  />
                </svg>
              </button>
              <button
                type="button"
                class="btn-reset blog-slider__btn blog-slider__btn--next"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.0165 6.22741L11.9106 5.33333L18.1302 11.553L18.5578 12L18.1302 12.447L11.9106 18.6667L11.0165 17.7726L16.1672 12.622H5.33333V11.378H16.1672L11.0165 6.22741Z"
                    fill="#202020"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M-7.15256e-07 12C-7.15256e-07 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 -7.15256e-07 5.37258 -7.15256e-07 12ZM1.33333 12C1.33333 17.891 6.10896 22.6667 12 22.6667C17.891 22.6667 22.6667 17.891 22.6667 12C22.6667 6.10896 17.891 1.33333 12 1.33333C6.10896 1.33333 1.33333 6.10896 1.33333 12Z"
                    fill="#202020"
                  />
                </svg>
              </button>
            </div>
            <div class="blog__slider blog-slider">
              <div class="blog-slider__wrap">
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      Бассейн «Мертвое море»</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span class="blog-slide__title blog-slide__title--large"
                          >«Мертвое море»</span
                        ></span
                      >
                      <button
                        type="button"
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog3-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      Детский бассейн</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span
                          class="blog-slide__title blog-slide__title--large"
                        >
                          Детский бассейн</span
                        ></span
                      >
                      <button
                        type="button"
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog2-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      под открытым небом</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span
                          class="blog-slide__title blog-slide__title--large"
                        >
                          под открытым небом</span
                        ></span
                      >
                      <button
                        type="button"
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="blog__inner">
            <div class="blog__controls">
              <button
                type="button"
                class="btn-reset blog-slider__btn blog-slider__btn--prev"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.9835 6.22741L12.0894 5.33333L5.86978 11.553L5.44218 12L5.86978 12.447L12.0894 18.6667L12.9835 17.7726L7.83285 12.622H18.6667V11.378H7.83285L12.9835 6.22741Z"
                    fill="#202020"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM22.6667 12C22.6667 17.891 17.891 22.6667 12 22.6667C6.10896 22.6667 1.33333 17.891 1.33333 12C1.33333 6.10896 6.10896 1.33333 12 1.33333C17.891 1.33333 22.6667 6.10896 22.6667 12Z"
                    fill="#202020"
                  />
                </svg>
              </button>
              <button
                type="button"
                class="btn-reset blog-slider__btn blog-slider__btn--next"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.0165 6.22741L11.9106 5.33333L18.1302 11.553L18.5578 12L18.1302 12.447L11.9106 18.6667L11.0165 17.7726L16.1672 12.622H5.33333V11.378H16.1672L11.0165 6.22741Z"
                    fill="#202020"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M-7.15256e-07 12C-7.15256e-07 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 -7.15256e-07 5.37258 -7.15256e-07 12ZM1.33333 12C1.33333 17.891 6.10896 22.6667 12 22.6667C17.891 22.6667 22.6667 17.891 22.6667 12C22.6667 6.10896 17.891 1.33333 12 1.33333C6.10896 1.33333 1.33333 6.10896 1.33333 12Z"
                    fill="#202020"
                  />
                </svg>
              </button>
            </div>
            <div class="blog__slider blog-slider">
              <div class="blog-slider__wrap">
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      Бассейн «Мертвое море»</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span class="blog-slide__title blog-slide__title--large"
                          >«Мертвое море»</span
                        ></span
                      >
                      <button
                        type="button"
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog3-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      Детский бассейн</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span
                          class="blog-slide__title blog-slide__title--large"
                        >
                          Детский бассейн</span
                        ></span
                      >
                      <button
                        type="button"
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="blog-slider__slide blog-slide"
                  style="
                    background: url('./img/blog/blog2-img.png') no-repeat center /
                      cover;
                  "
                >
                  <div class="blog-slide__wrap">
                    <span class="blog-slide__title blog-slide__title--disabled">
                      под открытым небом</span
                    >

                    <div class="blog-slide__content">
                      <span class="blog-slide__title">
                        Бассейн
                        <span
                          class="blog-slide__title blog-slide__title--large"
                        >
                          под открытым небом</span
                        ></span
                      >
                      <button
                        type="button"
                        class="btn-reset blog-slide__link"
                        data-graph-path="blog-1"
                      >
                        <span>подробнее</span>
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_2049_229)">
                            <path
                              d="M9.18043 5.18951L9.92549 4.44444L15.1085 9.62747L15.4649 10L15.1085 10.3725L9.92549 15.5556L9.18043 14.8105L13.4726 10.5183H4.44444V9.4817H13.4726L9.18043 5.18951Z"
                              fill="#0D1E4A"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10ZM1.11111 10C1.11111 14.9092 5.0908 18.8889 10 18.8889C14.9092 18.8889 18.8889 14.9092 18.8889 10C18.8889 5.0908 14.9092 1.11111 10 1.11111C5.0908 1.11111 1.11111 5.0908 1.11111 10Z"
                              fill="#0D1E4A"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_2049_229">
                              <rect
                                width="20"
                                height="20"
                                rx="10"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <div class="blog-slide__footer">
                        <p class="blog-slide__text">
                          Бассейн с высокой концентрацией соли.
                        </p>
                        <div class="blog-slide__footer-items">
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >35- 36°С</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Температура воды в зимний период
                            </p>
                          </div>
                          <div class="blog-slide__footer-item">
                            <span class="blog-slide__footer-item-tag"
                              >15 мин</span
                            >
                            <p class="blog-slide__footer-item-text">
                              Рекомендованное время нахождения
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="blog-1"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content modal-content">
      <h2 class="modal-content__title title-2">Бассейн «Мертвое море»</h2>
      <div class="modal-content__wrap">
        <div class="modal-content__img">
          <img loading="lazy" src="./img/blog/blog-img.png" alt="object img" />
        </div>

        <div class="modal-content__column">
          <p class="modal-content__text">
            Концентрация соли в бассейне намного превышает концентрацию соли в
            Черном и Красном морях и более приближена к показателям концентрации
            Мертвого моря. Соли и содержащиеся в ней микроэлементы благотворно
            влияют на весь организм. Эффект от применения морской воды —
            общее оздоровление и расслабление организма.
          </p>
          <div class="modal-content__column-items">
            <div class="modal-content__column-item">
              <span
                class="modal-content__column-desc modal-content__column-desc--bold"
                >35- 36°С</span
              >
              <span class="modal-content__column-desc"
                >Температура воды в зимний период
              </span>
            </div>
            <div class="modal-content__column-item">
              <span
                class="modal-content__column-desc modal-content__column-desc--bold"
                >15 мин</span
              >
              <span class="modal-content__column-desc"
                >Рекомендованное время нахождения
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-content__blog">
        <h3 class="modal-content__title title-3">Уборка и дезинфекция</h3>
        <div class="modal-content__content">
          <ul>
            <li>
              В центре установлены станции водоподготовки и водоочистки, которые
              работают круглосуточно 24/7, оборудование в автоматическом режиме
              реагирует на любые изменения показателей воды.
            </li>
            <li>
              Для дополнительного обеззараживания установлены УФ установки.
            </li>
            <li>
              24 часа в сутки поддерживается постоянный химический состав воды,
              контролируется уровень pH и дезинфицирующего средства
              автоматическими станциями дозирования.
            </li>
            <li>
              В качестве основного дезинфектанта в СанПиН 2.1.2.1188-03
              «Плавательные бассейны. Гигиенические требования к устройству,
              эксплуатации и качеству воды. Контроль качества». Все используемые
              дезинфицирующие вещества безвредны для здоровья человека.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
