<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__column">
        <span class="footer__copy"
          > © 2024 Официальный сайт «Термы Видное»</span
        >
        <span class="footer__copy">ИП Демьяненко Андрей Адольфович</span>
      </div>
      <div class="footer__column">
        <a href="#" class="footer__link">Политика конфиденциальности</a>
        <a href="#" class="footer__link">Правила посещения</a>
        <a href="#" class="footer__link">О нас</a>
        <a href="#" class="footer__link">Корпоративным клиентам</a>
        <a href="#" class="footer__link">Партнерам</a>
        <a href="#" class="footer__link">Тендеры</a>
        <a href="#" class="footer__link">Вакансии</a>
      </div>
    </div>
  </div>
</footer>
