<section class="hero">
  <div class="container">
    <h1 class="hero__title">Ваш идеальный</br> отдых рядом с домом</h1>
    <p class="hero__subtitle">
      Городской курорт для всей семьи — расслабление для тела и души круглый
      год!
    </p>


  </div>
  <div class="hero__content">
    <p class="hero__content-text">
      Качественный отдых по доступной цене. Стоимость посещения в будни <span class='hero__content-text hero__content-text--bold'>всего
        410 руб./час</span> (до 18:00)
    </p>
    <a href="abonement-pay.html" class="hero__content-link">
      <img loading='lazy' src="img/ticket.svg" alt="buy ticket">
    </a>
  </div>
</section>
