<div class="location">
  <div class="location__wrap">
    <div class="location__header">
      <span class="location__header-text">Ваш город</span>
      <span class="location__header-text--blue">Москва?</span>
    </div>
    <div class="location__content location-content">
      <h3 class="location-content__title">Выберите свои Термы</h3>
      <div class="location-content__row">
        <label class="radio">
          <input
            type="radio"
            name="location"
            checked
            class="radio__input"
            value="vidnoe"
          />
          <span class="radio__value"></span>
          <span class="location-content__radio-text">Видное</span>
          <span class="location-content__status">Открыт</span>
        </label>
      </div>
      <div class="location-content__row">
        <label class="radio">
          <input
            type="radio"
            name="location"
            class="radio__input"
            value="mytishchi"
          />
          <span class="radio__value"></span>
          <span class="location-content__radio-text">Мытищи</span>
          <span class="location-content__status">Открыт</span>
        </label>
      </div>
      <div class="location-content__row disable">
        <label class="radio">
          <input
            type="radio"
            disabled
            class="radio__input"
            name="location"
            value="vidnoe"
          />
          <span class="radio__value"></span>
          <span class="location-content__radio-text"
            >Москва, ул.Судостроительная</span
          >
          <span class="location-content__status">строится</span>
        </label>
      </div>
      <div class="location-content__row disable">
        <label class="radio">
          <input
            type="radio"
            disabled
            name="location"
            class="radio__input"
            value="odincovo"
          />
          <span class="radio__value"></span>
          <span class="location-content__radio-text">Одинцово</span>
          <span class="location-content__status">строится</span>
        </label>
      </div>
    </div>
    <a href="vidnoe" class="location__link"> ВЫБРАТЬ </a>
  </div>
</div>
