<div class="map">
  <div class="container">
    <h2 class="map__title title-2">Карта комплекса</h2>
    <div class="tabs" data-tabs="map">
      <div class="select" data-select-map>
        <div class="select__header">
          <span class="select__current">1 этаж</span>
          <div class="select__icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18 9L12 15L6 9"
                stroke="#0043A8"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div class="select__body">
          <div class="select__item">1 этаж</div>
          <div class="select__item">2 этаж</div>
          <div class="select__item">3 этаж</div>
        </div>
      </div>
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">1 этаж</button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">2 этаж</button>
        </li>
        <li class="tabs__nav-item">
          <button class="btn-reset tabs__nav-btn" type="button">3 этаж</button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <a href="img/1etaj.png" data-fancybox="gallery" data-caption="1 этаж">
            <img loading="lazy" src="img/1etaj.png" />
          </a>
        </div>
        <div class="tabs__panel">
          <a href="img/2etaj.png" data-fancybox="gallery" data-caption="2 этаж">
            <img loading="lazy" src="img/2etaj.png" />
          </a>
        </div>
        <div class="tabs__panel">
          <a href="img/3etaj.png" data-fancybox="gallery" data-caption="3 этаж">
            <img loading="lazy" src="img/3etaj.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
