<div class="map">
  <div class="container">
    <div class="map__header" id="map">
      <h2 class="map__title title-2">Карта комплекса</h2>
    </div>
    <div class="map__slider map-slider">
      <div class="map-slider__wrap">
        <div class="map-slider__slide">
          <a href="img/1etaj.png" data-fancybox="gallery" data-caption="1 этаж">
            <img loading="lazy" src="img/1etaj.png" />
          </a>
        </div>
        <div class="map-slider__slide">
          <a href="img/2etaj.png" data-fancybox="gallery" data-caption="2 этаж">
            <img loading="lazy" src="img/2etaj.png" />
          </a>
        </div>
        <div class="map-slider__slide">
          <a href="img/3etaj.png" data-fancybox="gallery" data-caption="3 этаж">
            <img loading="lazy" src="img/3etaj.png" />
          </a>
        </div>
      </div>
      <div class="map-slider__controls">
        <button
          type="button"
          class="btn-reset map-slider__btn map-slider__btn--prev"
        >
          <svg
            width="36"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_190_117211)">
              <path
                d="M16.5248 9.34111L17.8659 8L27.1953 17.3294L27.8367 18L27.1953 18.6706L17.8659 28L16.5248 26.6589L24.2507 18.9329H8V17.0671H24.2507L16.5248 9.34111Z"
                fill="#202020"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 18C0 27.9411 8.05887 36 18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18ZM2 18C2 26.8366 9.16344 34 18 34C26.8366 34 34 26.8366 34 18C34 9.16344 26.8366 2 18 2C9.16344 2 2 9.16344 2 18Z"
                fill="#202020"
              />
            </g>
            <defs>
              <clipPath id="clip0_190_117211">
                <rect
                  width="36"
                  height="36"
                  rx="18"
                  transform="matrix(-1 0 0 1 36 0)"
                  fill="white"
                />
              </clipPath>
            </defs>
          </svg>
        </button>
        <span class="map-slider__slider-text">1 этаж</span>
        <button
          type="button"
          class="btn-reset map-slider__btn map-slider__btn--next"
        >
          <svg
            width="36"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_190_117211)">
              <path
                d="M16.5248 9.34111L17.8659 8L27.1953 17.3294L27.8367 18L27.1953 18.6706L17.8659 28L16.5248 26.6589L24.2507 18.9329H8V17.0671H24.2507L16.5248 9.34111Z"
                fill="#202020"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 18C0 27.9411 8.05887 36 18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18ZM2 18C2 26.8366 9.16344 34 18 34C26.8366 34 34 26.8366 34 18C34 9.16344 26.8366 2 18 2C9.16344 2 2 9.16344 2 18Z"
                fill="#202020"
              />
            </g>
            <defs>
              <clipPath id="clip0_190_117211">
                <rect
                  width="36"
                  height="36"
                  rx="18"
                  transform="matrix(-1 0 0 1 36 0)"
                  fill="white"
                />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
