<div class="reviews">
  <div class="container">
    <h2 class="reviews__title title-2" id="reviews">ОТЗЫВЫ ГОСТЕЙ</h2>
    <div class="reviews__slider-inner">
      <div class="reviews__slider reviews-slider">
        <div class="reviews-slider__wrap">
          <div class="reviews-slider__slide review">
            <h3 class="review__title">Маша Машенцева</h3>
            <span class="review__subtitle">Знаток города 4 уровня Яндекс</span>
            <div class="review__text">
              Очень удобно, есть крытый комлекс из двух бассейнов( детский и
              взрослый), самых разных хамамов, а так же очень интересной
              "комнатой впечатлений", и открытый комплекс из двух бассейнов
              (взрослый и соленый) а также бочки с горячей водой и разными
              саунами и банями. Очень вкусно готовят!
            </div>
            <button class="review__btn btn-reset" type="button">
              Читать весь отзыв
            </button>
          </div>
          <div class="reviews-slider__slide review">
            <h3 class="review__title">Максим Мартынов</h3>
            <span class="review__subtitle">Знаток города 6 уровня Яндекс</span>
            <div class="review__text">
              1) парковка отличная , обычно сложностей не составляет поиск мест,
              особенно в будни<br />
              2) ресепшн быстро работает<br />
              3) цена за такой спектр<br />
              услуг весьма отличная<br />
              4) парных много, с обширными залами <br />
              5) парковка отличная , обычно сложностей не составляет поиск мест,
              особенно в будни<br />
              6) ресепшн быстро работает<br />
              7) цена за такой спектр<br />
              услуг весьма отличная<br />
              8) парных много, с обширными залами <br />
            </div>
            <button class="review__btn btn-reset" type="button">
              Читать весь отзыв
            </button>
          </div>
          <div class="reviews-slider__slide review">
            <h3 class="review__title">Маша Машенцева</h3>
            <span class="review__subtitle">Знаток города 4 уровня Яндекс</span>
            <div class="review__text">
              Очень удобно, есть крытый комлекс из двух бассейнов( детский и
              взрослый), самых разных хамамов, а так же очень интересной
              "комнатой впечатлений", и открытый комплекс из двух бассейнов
              (взрослый и соленый) а также бочки с горячей водой и разными
              саунами и банями. Очень вкусно готовят!
            </div>
            <button class="review__btn btn-reset" type="button">
              Читать весь отзыв
            </button>
          </div>
          <div class="reviews-slider__slide review">
            <h3 class="review__title">Максим Мартынов</h3>
            <span class="review__subtitle">Знаток города 6 уровня Яндекс</span>
            <div class="review__text">
              1) парковка отличная , обычно сложностей не составляет поиск мест,
              особенно в будни<br />
              2) ресепшн быстро работает<br />
              3) цена за такой спектр<br />
              услуг весьма отличная<br />
              4) парных много, с обширными залами <br />
              5) парковка отличная , обычно сложностей не составляет поиск мест,
              особенно в будни<br />
              6) ресепшн быстро работает<br />
              7) цена за такой спектр<br />
              услуг весьма отличная<br />
              8) парных много, с обширными залами <br />
            </div>
            <button class="review__btn btn-reset" type="button">
              Читать весь отзыв
            </button>
          </div>
        </div>
      </div>
      <div class="reviews-slider__controls">
        <button
          type="button"
          class="btn-reset reviews-slider__btn reviews-slider__btn--prev"
        >
          <svg
            width="60"
            height="61"
            viewBox="0 0 60 61"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M32.4587 16.0685L30.2235 13.8333L14.6744 29.3824L13.6054 30.5L14.6744 31.6176L30.2235 47.1667L32.4587 44.9315L19.5821 32.0549H46.6667V28.9451H19.5821L32.4587 16.0685Z"
              fill="#202020"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M60 30.5C60 47.0685 46.5685 60.5 30 60.5C13.4315 60.5 0 47.0685 0 30.5C0 13.9315 13.4315 0.5 30 0.5C46.5685 0.5 60 13.9315 60 30.5ZM56.6667 30.5C56.6667 45.2276 44.7276 57.1667 30 57.1667C15.2724 57.1667 3.33333 45.2276 3.33333 30.5C3.33333 15.7724 15.2724 3.83333 30 3.83333C44.7276 3.83333 56.6667 15.7724 56.6667 30.5Z"
              fill="#202020"
            />
          </svg>
        </button>
        <button
          type="button"
          class="btn-reset reviews-slider__btn reviews-slider__btn--next"
        >
          <svg
            width="60"
            height="61"
            viewBox="0 0 60 61"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.5413 16.0685L29.7765 13.8333L45.3256 29.3824L46.3946 30.5L45.3256 31.6176L29.7765 47.1667L27.5413 44.9315L40.4179 32.0549H13.3333V28.9451H40.4179L27.5413 16.0685Z"
              fill="#202020"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 30.5C0 47.0685 13.4315 60.5 30 60.5C46.5685 60.5 60 47.0685 60 30.5C60 13.9315 46.5685 0.5 30 0.5C13.4315 0.5 0 13.9315 0 30.5ZM3.33334 30.5C3.33334 45.2276 15.2724 57.1667 30 57.1667C44.7276 57.1667 56.6667 45.2276 56.6667 30.5C56.6667 15.7724 44.7276 3.83333 30 3.83333C15.2724 3.83333 3.33334 15.7724 3.33334 30.5Z"
              fill="#202020"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
