<div class="schedule">
  <div class="container">
    <div class="schedule__inner">
      <div class="schedule__header" id="schedule">
        <h2 class="schedule__header-title title-2">Расписание мероприятий</h2>
        <div class="schedule__header__controls schedule-controls">
          <button
            type="button"
            class="btn-reset schedule-controls__btn schedule-controls__btn--prev"
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_2049_1228)">
                <path
                  d="M19.4752 9.34111L18.1341 8L8.80466 17.3294L8.16327 18L8.80466 18.6706L18.1341 28L19.4752 26.6589L11.7493 18.9329H28V17.0671H11.7493L19.4752 9.34111Z"
                  fill="#202020"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M36 18C36 27.9411 27.9411 36 18 36C8.05887 36 0 27.9411 0 18C0 8.05887 8.05887 0 18 0C27.9411 0 36 8.05887 36 18ZM34 18C34 26.8366 26.8366 34 18 34C9.16344 34 2 26.8366 2 18C2 9.16344 9.16344 2 18 2C26.8366 2 34 9.16344 34 18Z"
                  fill="#202020"
                />
              </g>
              <defs>
                <clipPath id="clip0_2049_1228">
                  <rect
                    width="36"
                    height="36"
                    rx="18"
                    transform="matrix(-1 0 0 1 36 0)"
                    fill="white"
                  />
                </clipPath>
              </defs>
            </svg>
          </button>
          <div class="schedule-controls__title">21 ОКТЯБРЯ</div>
          <button
            type="button"
            class="btn-reset schedule-controls__btn schedule-controls__btn--next"
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_191_123755)">
                <path
                  d="M16.5248 9.34111L17.8659 8L27.1953 17.3294L27.8367 18L27.1953 18.6706L17.8659 28L16.5248 26.6589L24.2507 18.9329H8V17.0671H24.2507L16.5248 9.34111Z"
                  fill="#202020"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 18C0 27.9411 8.05887 36 18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18ZM2 18C2 26.8366 9.16344 34 18 34C26.8366 34 34 26.8366 34 18C34 9.16344 26.8366 2 18 2C9.16344 2 2 9.16344 2 18Z"
                  fill="#202020"
                />
              </g>
              <defs>
                <clipPath id="clip0_191_123755">
                  <rect
                    width="36"
                    height="36"
                    rx="18"
                    transform="matrix(-1 0 0 1 36 0)"
                    fill="white"
                  />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
        <div class="schedule__header-tags schedule-tags">
          <button data-tag="Все" class="btn-reset schedule-tags__btn active">
            Все
          </button>
          <button data-tag="Парения" class="btn-reset schedule-tags__btn">
            Парения
          </button>
          <button data-tag="Фитнес" class="btn-reset schedule-tags__btn">
            Фитнес
          </button>
          <button data-tag="Мастер-классы" class="btn-reset schedule-tags__btn">
            Мастер-классы
          </button>
          <button data-tag="Анимация" class="btn-reset schedule-tags__btn">
            Анимация
          </button>
        </div>
      </div>
      <div class="schedule__slider schedule-slider">
        <div class="schedule-slider__wrap">
          <div class="schedule-slider__slide schedule-table">
            <span class="schedule-table__title">22 ОКТЯБРЯ</span>
            <div class="schedule-table__header">
              <span class="schedule-table__header-title">Время</span>
              <span class="schedule-table__header-title">Мероприятие</span>
              <span class="schedule-table__header-title">Место</span>
              <span class="schedule-table__header-title">Стоимость</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Фитнес">
              <span class="schedule-table__time">09:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">Cycle</div>
              </span>

              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Фитнес</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Парения">
              <span class="schedule-table__time">10:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">Парение флагом</div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Сауна Сахара</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Фитнес">
              <span class="schedule-table__time">11:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>

                <div class="schedule-table__content">Pump</div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Фитнес</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Парения">
              <span class="schedule-table__time">11:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">
                  Успокаивающее травяное парение
                </div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Травяная сауна</div>
              </span>
              <span class="schedule-table__price">500 руб</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Анимация">
              <span class="schedule-table__time">12:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">Пенная вечеринка</div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Детский бассейн</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Мастер-классы">
              <span class="schedule-table__time">13:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">
                  Скраб для мягкой кожи своими руками
                </div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Турецкий хаммам</div>
              </span>
              <span class="schedule-table__price">500 руб</span>
            </div>
          </div>
          <div class="schedule-slider__slide schedule-table">
            <span class="schedule-table__title">22 ОКТЯБРЯ</span>
            <div class="schedule-table__header">
              <span class="schedule-table__header-title">Время</span>
              <span class="schedule-table__header-title">Мероприятие</span>
              <span class="schedule-table__header-title">Место</span>
              <span class="schedule-table__header-title">Стоимость</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Фитнес">
              <span class="schedule-table__time">09:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">Cycle</div>
              </span>

              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Фитнес</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Парения">
              <span class="schedule-table__time">10:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">Парение флагом</div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Сауна Сахара</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Фитнес">
              <span class="schedule-table__time">11:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>

                <div class="schedule-table__content">Pump</div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Фитнес</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Парения">
              <span class="schedule-table__time">11:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">
                  Успокаивающее травяное парение
                </div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Травяная сауна</div>
              </span>
              <span class="schedule-table__price">500 руб</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Анимация">
              <span class="schedule-table__time">12:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">Пенная вечеринка</div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Детский бассейн</div>
              </span>
              <span class="schedule-table__price">Бесплатно</span>
            </div>
            <div class="schedule-table__row" data-tag-row="Мастер-классы">
              <span class="schedule-table__time">13:00</span>
              <span class="schedule-table__value">
                <span class="schedule-table__label">Мероприятие</span>
                <div class="schedule-table__content">
                  Скраб для мягкой кожи своими руками
                </div>
              </span>
              <span class="schedule-table__place">
                <span class="schedule-table__label">Место</span>
                <div class="schedule-table__content">Турецкий хаммам</div>
              </span>
              <span class="schedule-table__price">500 руб</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
