.breadcrumbs {
  padding: 180px 0 0px 0;

  &__link {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--blue-text);
    &:hover {
      text-decoration: underline;
    }
  }
}

@media all and (max-width: 1100px) {
  .breadcrumbs {
    padding: 150px 0 0px 0;
  }
}
